.pnotes {
  font-size: 18px;
  padding: 5px;
}
.notes-container {
  width:100%;
  padding: 3%;
  margin: auto;
  margin-top: 15px;
  background-color: #47a8bd;
  color: #ffffff;
}
.no-notes-container {
  width: 85%;
  margin: auto;
  margin-top: 25px;
  background-color: #47a8bd;
  color: #ffffff;
}

.notes-header, .no-notes {
  color: #47a8bd;
  font-size: 35px;
}