.visit {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    touch-action: none;
  }
  
  .Critical {
    background-color: #fe9191
  }

  .Semi-Urgent {
    background-color: #FFCE5C;
  }

  .Non-Urgent {
    background-color: #13F64C;
  }