.navigation {
    background-color: #47A8BD;
    color: #eeeff0;
}

.inactive {
    color: #ffffff;
}

.inactive:hover {
    color: #283845
}

.activeTab {
    background-color:#FBFBFF;
    color:#0E1116
}

.button {
    background-color: #ECA72C;
    float: right;
    position: fixed;
    right: 2px;
    margin-top: 1px;
}
