/* .dragVisit {
    background-color: aqua;
} */

.bigText, .hr {
    color: #47A8BD
}

.next {
    height: 100px
}

.buttonDiv {
    margin-top: 48px;
}

.button {
    background-color: #47A8BD;
}

.button:hover {
    background-color: #06cbf7;
}

.error {
    margin-top: 20px;
    color:#F02D3A
}
